{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <div class="card-header">Список лучших технологических компаний</div>
          {% if app.user != null %}
          <table class="table">
            <tr>
              <th>Компания</th>
              <th>Доход</th>
            </tr>
            {% for key, item in companies %}
            <tr>
              <td>{{ key }}</td>
              <td>{{ item }}</td>
            </tr>
            {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        Тебе сначала нужно войти 😜😜 >></a
      >
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}